extends layout

block content
  h1 #{title}: #{book.title}

  p #[strong Author: ] #[book_author]
    a(href=book.author.url) #{book.author.name}

  if book_instances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Instances

      dl
      each book in book_instances
        dt
          a(href=book.url) #{book.title}
          p #[strong Id:]&nbsp;
            a(href=book.url) #{book._id}

  else
    p Do you really want to delete this book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
