extends layout

block content
  h1 #{title}: #{client.name}
  p= client.email_address

  if client_requests.length

    p #[strong Delete the following requests before attempting to delete this client.]

    div(style='margin-left:20px;margin-top:20px')

    h4 Cient Requests

    dl
    each clientrequest in client_clientrequests
      dt
        a(href=clientrequest.url) #{clientrequest.date_entered}
      dd #{clientrequest.appname}


  else
    p Do you really want to delete this Client?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') Delete
