extends layout

block content
  h1 #{title}: #{clientrequest.date_entered}

  p #[strong Client:]
    a(href=clientrequest.client._id) #{clientrequest.client.name}
  p #[strong Application Name:] #{clientrequest.appname}
  p #[strong Status:] #{clientrequest.status}

  hr
  p
    a(href=clientrequest.url+'/delete') Delete ClientRequest
  p
    a(href=clientrequest.url+'/update') Update ClientRequest
