extends layout

block content
  h1= title

  p!= msg1
  br
  br
  a(href= sourceA)  Send Message
      button(type="button") #{sourceA2}
  p "  or  "
  a(href= sourceB)
      button(type="button") #{sourceB2}

  p!= msg2
  br
  p!= msg3
