extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='FirstName (required)', name='first_name', required=true )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='FamilyName (required)', name='family_name', required=true )
    div.form-form_group
      label(for='country') Country:
      input#country.form-control(type='text', placeholder='Country of residence(required)', name= 'country', required=true)
      label(for='tax_region') Province/Territory/State:
      input#tax_region.form-control(type='text', placeholder='Prov/State/Territory(required)', name= 'tax_region', required=true)
      label(for='city_address') City Address:
      input#city_address.form-control(type='text', placeholder='#, street, city (CDN's: only if receipt required)', name= 'city_address')
    div.form-group
      label(for='email_address') Your Email:
      input#email_address.form-control(type='text', placeholder='usrnm@xxx.yyy (optional but recommended)', name='email_address', required=false, value= "optional@somewhere.xxx")
    div.form-group
      label(for='register_request_code') Clipboard contents from application's REGISTRATION DATA tab:
      input#register_request_code.form-control(type='text', placeholder='Registration Data (required)', name='register_request_code', required=true, value=(undefined===client ? '' : client.register_request_code) )

    button.btn.btn-primary(type='submit') #{query===undefined ? "Submit" : query}
  if errors
    ul
      for error in errors
        li!= error.msg

  if error
    ul
      li
        error
