extends layout

block content
  h1=title

  h4  Address information is required (for verifying if sales taxes apply)
      | (must be same as on credit card used for payment: order may be refused otherwise)

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='FirstName (required)', name='first_name', required=true )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='FamilyName (required)', name='family_name', required=true )
    div.form-group
      label(for='country') Country:
      select#country.form-control(type='select', placeholder='Country of residence(required)', name= 'country', required=true)
        option(value= countryOptions[0]) #{countryOptions[0]}
        option(value= countryOptions[1]) #{countryOptions[1]}
        option(value= countryOptions[2]) #{countryOptions[2]}

    div.form-group
      label(for='tax_region') Province/Territory/State:

      select#tax_region.form-control(type='select' placeholder='Select Region' name='tax_region' required='true')
        option(value= canadaRegions[0]) #{canadaRegions[0]}
        option(value= canadaRegions[1]) #{canadaRegions[1]}
        option(value= canadaRegions[2]) #{canadaRegions[2]}
        option(value= canadaRegions[3]) #{canadaRegions[3]}
        option(value= canadaRegions[4]) #{canadaRegions[4]}
        option(value= canadaRegions[5]) #{canadaRegions[5]}
        option(value= canadaRegions[6]) #{canadaRegions[6]}
        option(value= canadaRegions[7]) #{canadaRegions[7]}
        option(value= canadaRegions[8]) #{canadaRegions[8]}
        option(value= canadaRegions[9]) #{canadaRegions[9]}
        option(value= canadaRegions[10]) #{canadaRegions[10]}
        option(value= canadaRegions[11]) #{canadaRegions[11]}
        option(value= canadaRegions[12]) #{canadaRegions[12]}

    div.form-group
      label(for='city_address') City Address:
      input#city_address.form-control(type='text', placeholder='#, street, city (CDN: only if receipt required)', name= 'city_address', required=false)
      label(for='postal_code') Postal Code:
      input#postal_code.form-control(type='text', placeholder='postal code/zip code',name='postal_code', required=true)
    div.form-group
      label(for='email_address') Your Email:
      input#email_address.form-control(type='text', placeholder='usrnm@xxx.yyy (optional but recommended)', name='email_address', required=false )
    div.form-group
      label(for='license_string') Clipboard contents from application's REGISTRATION DATA tab:
      input#license_string.form-control(type='text', placeholder='Registration Data (required)', name='license_string', required=true, value=(undefined===client ? '' : client.license_string) )


    button.btn.btn-primary(type='submit') #{query===undefined ? "Submit" : query}

  if errors
    ul
      for error in errors
        li!= error.msg

  if error
    ul
      li
        error
