extends layout

block content
  h1= title

  ul
  each clientrequest in clientrequest_list
    li
      a(href=clientrequest.url) #{clientrequest.client.name}
      p Status: #{clientrequest.status}
      p Module: #{clientrequest.appname}
      p FormatCode:  #{clientrequest.formatCode}


  else
    li There are no clientrequests.
