extends layout

block content

  h1 Device Id: #{client.device_id} : #{client.device_type}

  p  Format Code: #{client.format_code}

  p  Request Status: #{client.status}

  hr
  p  Client Name: #{client.name}

  hr
  p  Email: #{client.email_address}

  hr


  p License Key is:
  //-was license_key but now a formal parameter in client schema; so use prolog instead

  if client.status == "validated"

    p #{client.license_key}

  else
    p Stripe transaction not complete  license key not available
