extends layout
//CHANGE EVERYTHING TO CLIENTREQUEST then author & Author to client & Client

block content
  h1 #{title}: #{clientrequest .title}

  p #[strong Client: ] #[clientrequest _client]
    a(href=clientrequest .client.url) #{clientrequest .client.name}

  if clientrequest _instances.length

    p #[strong Delete the following clientrequest  instances before attempting to delete this clientrequest .]

    div(style='margin-left:20px;margin-top:20px')

      h4 ClientRequest  Instances

      dl
      each clientrequest  in clientrequest _instances
        dt
          a(href=clientrequest .url) #{clientrequest .title}
          p #[strong Id:]&nbsp;
            a(href=clientrequest .url) #{clientrequest ._id}

  else
    p Do you really want to delete this clientrequest ?

    form(method='POST' action='')
      div.form-group
        input#clientrequest id.form-control(type='hidden',name='clientrequest id', required='true', value=clientrequest ._id )

      button.btn.btn-primary(type='submit') Delete
