extends layout

block content

  h1 Device Id: #{client.device_id} : #{client.device_type}

  p  Format Code: #{client.format_code}

  p  Module Id: #{client.moduleIdVrs}

  p  Request Status: #{client.status}

  p  Registration Data String: #{client.license_string}

  hr
  p  Client Name: #{client.name}

  p  Registration Date: #{client.registration_date}

  hr
  p  Address: #{client.city_address}

  p  Region: #{client.tax_region}

  P  Postal Code: #{client.postal_code}

  p  Country: #{client.country}

  hr
  p  Email: #{client.email_address}

  p Messages:
  ul
  each msg in client.return_msgs
    li  msg
  else
    li no messages


  hr
  p
    a(href=client.url+'/delete') Delete client

  p
    a(href=client.url+'/update') Update client

  p
    a(href='/catalog//countrytaxauthorities') List Country Authorities

  P
    a(href='/catalog/regionalauthorities') List Regional Authorities

  p
    a(href='/catalog/clients') List Clients
