extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='FirstName (optional) ', name='first_name', required=false, value="optional")
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='FamilyName (optional)', name='family_name', required=false, value="optional")
      div.form-form_group
        label(for='country') Country:
        input#country.form-control(type='text', placeholder='Country of residence(optional)', name= 'country', required=false)
        label(for='tax_region') Province/Territory/State:
        input#tax_region.form-control(type='text', placeholder='Prov/State/Territory(optional)', name= 'tax_region', required=false)
        label(for='city_address') City Address:
        input#city_address.form-control(type='text', placeholder='#, street, city (optional)', name= 'city_address', required=false)
    div.form-group
      label(for='email_address') Your Email:
      input#email_address.form-control(type='text', placeholder='usrnm@xxx.yyy (optional but recommended)', name='email_address', required=false, value= "optional@somewhere.xxx")
    div.form-group
      label(for='license_string') Clipboard contents from application's REGISTRATION DATA tab:
      input#license_string.form-control(type='text', placeholder='Registration Data (required)', name='license_string', required=true, value=(undefined===client ? '' : client.license_string) )

    button.btn.btn-primary(type='submit') #{query===undefined ? "Submit" : query}
  if errors
    ul
      for error in errors
        li!= error.msg

  if error
    ul
      li
        error
