extends layout

block content
  h1 #{title}: #{clientrequest.status}

  p ClientRequest Id: #{clientrequest._id}

  //- p #[strong Client: ] #[clientrequest.client.name]
  //-  a(href=clientrequest.client.url) #{clientrequest.client.email_address}

  p
    a(href=clientrequest.url+'/delete') Delete Request

  hr

  p Do you really want to delete this clientrequest ?

  form(method='POST' action='')
    div.form-group
      input#clientrequestid.form-control(type='hidden',name='clientrequestid', required='true', value=clientrequest._id )

    button.btn.btn-primary(type='submit') Delete
