extends layout

block content
  h1= title

  p!= msg1
  br
  p!= msg2
  br
  p!= msg3
  br
  br
  a(href= sourceA)
    button(type="button") #{sourceA2}

  a(href= sourceB)
      button(type="button") #{sourceB2}
