extends layout

block content

  h1 Country: #{countrytaxauthority.country_name} : #{countrytaxauthority.country_code}

  p  Allow Status: #{countrytaxauthority.allowed}

  p  Federal Rate: #{countrytaxauthority.rate}

  p  Restriction Code: #{countrytaxauthority.restriction_code}

  P  Transaction Limit: #{countrytaxauthority.transaction_limit}

  P  Current Transaction Count: #{countrytaxauthority.current_count}

  P  Amount Limit: #{countrytaxauthority.amount_limit}

  P  Current Amount: #{countrytaxauthority.current_amount}

  P  Period Type: #{countrytaxauthority.transaction_period_type}

  P  Limit Date: #{countrytaxauthority.current_transaction_period}

  hr
  p
    a(href=countrytaxauthority.url+'/delete') Delete Country Tax Authority

  p
    a(href=countrytaxauthority.url+'/update') Update Country Tax Authority

  P
    a(href='/catalog/countrytaxauthorities') List Country Tax Authorities
