extends layout

block content

  h1 Country: #{countrytaxauthority.country_name} : #{countrytaxauthority.country_code}

  p  Allow Status: #{countrytaxauthority.allowed}

  p  Federal Rate: #{countrytaxauthority.rate}

  p  Restriction Code: #{countrytaxauthority.restriction_code}

  P  Transaction Limit: #{countrytaxauthority.transaction_limit}

  P  Current Transaction Count: #{countrytaxauthority.current_count}

  P  Amount Limit: #{countrytaxauthority.amount_limit}

  P  Current Year Amount: #{countrytaxauthority.current_year_amount}

  p  Previous Years Amounts: #{countrytaxAuthority.previous_years_amounts}

  P  Current Quarter Amount: #{countrytaxauthority.current_quarter_amount}

  P  Last Three Quarters:  #{countrytaxauthority.last_three_quarters_array}

  P  Current 4 Quarters Amount: #{countrytaxauthority.current_four_quarters_amount}



  P  Period Type: #{countrytaxauthority.transaction_period_type}

  P  Period Index #{countrytaxauthority.for_period_index}

  P  Last Transaction: #{countrytaxauthority.transaction_date}

  hr
  p
    a(href=countrytaxauthority.url+'/delete') Delete Country Tax Authority

  p
    a(href=countrytaxauthority.url+'/update') Update Country Tax Authority

  p
    a(href='/catalog//countrytaxauthorities') List Country Authorities

  P
    a(href='/catalog/regionalauthorities') List Regional Authorities

  p
    a(href='/catalog/clients') List Clients
