extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='country_name') Country Name
      input#country_name.form-control(type = 'string', placeholder='Country Name', name= 'country_name', required=true, value=countrytaxauthority.country_name)
      label(for='country_code') Country_postalcode
      input#country_code.form-control(type='text', placeholder='eg. CA (required)', name='country_code', required=true, value=countrytaxauthority.country_code)
    div.form_group
      label(for='allowed') Allowed
      input#allowed.form-control(type='boolean', placeholder='true/false', name='allowed', required=true, value=allowedProxy)
    div.form-group
      label(for='rate') tax_rate
      input#rate.form-control(type='decimal', placeholder='0.05 (not 5%)', name='rate', required=false, value= countrytaxauthority.rate)
    div.form-group
      label(for='restriction_code') Restriction Code (0:none, 1:#, 2:$, 3:both)
      input#restriction_code.form-control(type='number', placeholder='Restriction Code (required)', name='restriction_code', required=true, value=countrytaxauthority.restriction_code )
    div.form-group
      label(for='transaction_limit') Number of Transactions Limit
      input#transaction_limit.form-control(type='number', placeholder= 'transaction # threshold', name='transaction_limit', required=false, value= countrytaxauthority.transaction_limit)
    div.form-group
      label(for='current_count') Current # of transactions
      input#current_count.form-control(type='number',placeholder='# transactions processed', name= 'current_count', required=false, value= countrytaxauthority.current_count)
    div.form-group
      label(for='amount_limit') Dollar Amount Limit
      input#amount_limit.form-control(type='number', placeholder= 'total amount threshold', name='amount_limit', required=false, value= countrytaxauthority.amount_limit)
    div.form-group
      label(for='current_year_amount') Current Year Amount Amassed
      input#current_year_amount.form-control(type='number',placeholder='amount amassed this period', name='current_year_amount', required=false,value = countrytaxauthority.current_year_amount)
    div.form-group
      label(for='transaction_period_type') Transaction Period Type
      input#transaction_period_type.form-control(type='string',placeholder='period till renewal', name='transaction_period_type', required = false value =countrytaxauthority.transaction_period_type)
    div.form-group
       label(for='for_period_index') Current Period Array Index
       input#for_period_index.form-control(type='number', placeholder='current quarters array index',name='for_period_index', required = false, value=countrytaxauthority.for_period_index)

    button.btn.btn-primary(type='submit') #{query===undefined ? "Submit" : query}
  if errors
    ul
      for error in errors
        li!= error.msg

  if error
    ul
      li
        error
