extends layout

block content
  h1= title
  br
  h3= "NOTE CAREFULLY"

  p!= themeDesc1

  p!= themeDesc2

  br

  a(href=source)
             button(type="button") download PieSlicer for CPU
  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
  //  this requests to 'view' download page as given in route catalog (redirection)
  //  think of it as  catalog[pieSlicer_view] = downloadPSController.pieSlicer_detail
  //  pieSlicer_detail are specifics of addressing AWS S3 bucket containing PieSlicer
  br

  a(href="somewhereElse")
            button(type="button") download PieSlicer for USB
