extends layout

block content
  h1href="#" style={'font-size':'4vw'})= title
  br

  h3= "NOTE CAREFULLY"

  p!= themeDesc1

  p!= themeDesc2

  br

  a(href=source)
             button(type="button") download FracSpellerDual (exe file)
  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
