extends layout

block content
  h1(href="#" style={'font-size':'4vw'})= title
  br

  h3(href="#" style={'font-size':'3vw'})= "NOTE CAREFULLY"

  p!= themeDesc1

  p!= themeDesc2
  br
  a(href=source)
             button(type="button") download FracSpellerDual (exe file)
  br
  br
  a(href='/catalog/verification')
           button(type='button') Verify Download
  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
  br
