extends layout

block content
  h1= title
  p Welcome to #{title}

  if error
    p Error getting dynamic content.
  else

  h2= "Fraction Speller Module"

  p!= fracSpellerDesc1

  br

  p!= fracSpellerDesc2

  br

  a(href="/catalog/downloadFS_view")
      button(type="button") #{source}
