extends layout

block content
  h1= title
  p Welcome to #{title}

  if error
    p Error getting dynamic content.
  else

  h2= "Fraction Speller Module"

  p= fracSpellerDesc1

  p= fracSpellerDesc2 
