extends layout

block content
  h1 #{title}: #{messagesIn.name}

  p #[strong License String:] #{messagesIn.license_string}
  hr
  p #[strong Message:]
  p !{messagesIn.message}
  //- ! instead of # allows interpretation of HTML

  p #[strong Reply:]
  p !{messagesIn.reply}

  p Viewed: #{messagesIn.viewed}
  p #[strong Responded:] #{messagesIn.responded}
  p Follow Up Reqrd: #{messagesIn.follow_up}
  p #[strong Action:] #{messagesIn.action}

  hr
  p
    a(href=messagesIn.url+'/delete') Delete Message
  p
    a(href=messagesIn.url+'/reply') Reply Message
  P
    a(href='/catalog/active_messages_list') List Active Messages
