extends layout



block content
  h1= title
  p  #{title}
  br
  <img src="https://s3.ca-central-1.amazonaws.com/pipsbucket/PieCulator.png" alt="ScreenShot" width="748" height="516">

  if error
    p Error getting dynamic content.
  else

  h2= "Pie Slicer Module"

  p!= pieSlicerDesc1

  p!= pieSlicerDesc2
