extends layout

block content
  h1= title
  p  #{title}
  br
  .image
  label(for="pieslicerimg") PieSlicer Screenshot
  br
  .pieslicerimg
    <img id="pieslicerimg"  src="https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicer.png" alt="ScreenShot" width="636" height="390">

  if error
    p Error getting dynamic content.
  else

  h2= "Pie Slicer Module"

  p!= pieSlicerDesc1

  p!= pieSlicerDesc2

  br

//-  a(href="/catalog/downloadPS_view")
//-   button(type="button") source
