extends layout

block content
  h1(href="#" style={'font-size':'4vw'})= title
  //- significant example of inlining HTML in PUG & responsive scaling of text!
  br
  .image
  label(for="pieslicerimg") PieSlicer Screenshot
  br
  .pieslicerimg
    <img id="pieslicerimg"  src="https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicer.jpg" alt="ScreenShot" style="width:90%";>

  if error
    p Error getting dynamic content.
  else

  h3(href="#" style={'font-size':'3vw'})= h3Header

  p!= pieSlicerDesc1

  p!= pieSlicerDesc2

  br

  a(href= source)
      button(type="button") #{source2}
//- was "/catalog/downloadPS_view"
