extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='region_name') Region Name
      input#region_name.form-control(type = 'string', placeholder='Region Name', name= 'region_name', required=true, value=regionalauthority.region_name)
      label(for='region_code') Region Abbreviation
      input#region_code.form-control(type='text', placeholder='eg. CA (required)', name='region_code', required=true, value=regionalauthority.region_code)

    div.form-group
      label(for='country') Country
      input#country.form-control(type = 'string', placeholder='Country',name= 'country',required=true, value = regionalauthority.country)

    div.form-group
      label(for='allowed') Allowed
      input#allowed.form-control(type='boolean', placeholder='true/false', name='allowed', required=true, value=regionalauthority.allowed)

    div.form-group
      label(for='harmonized') Harmonized?
      input#hamonized.form-control(type='boolean', placeholder='true/false',name='harmonized',required=true, value=regionalauthority.harmonized)
    div.form-group
      label(for='fed_rate') Federal Rate (GST)
      input#fed_rate.form-control(type='decimal',placholder='0.05 (not 5%) 0.0 for zero', name= 'fed_rate', required=regionalauthority.fed_rate)
      label(for='reg_rate') Regional Rate (PST,QST,..)
      input#reg_rate.form-control(type='decimal', placeholder='0.xx (decimal not %); 0.0 for zero', name='reg_rate', required=regionalauthority.reg_rate)
    div.form-group
      label(for='restriction_code') Restriction Code (0:none, 1:#, 2:$, 3:both)
      input#restriction_code.form-control(type='number', placeholder='Restriction Code (required)', name='restriction_code', required=true, value=regionalauthority.restriction_code )
    div.form-group
      label(for='transaction_limit') Number of Transactions Limit
      input#transaction_limit.form-control(type='number', placeholder= 'transaction # threshold', name='transaction_limit', required=false, value= regionalauthority.transaction_limit)
    div.form-group
      label(for='current_count') Current # of transactions
      input#current_count.form-control(type='number',placeholder='# transactions processed', name= 'current_count', required=false, value= regionalauthority.current_count)
    div.form-group
      label(for='amount_limit') Dollar Amount Limit
      input#amount_limit.form-control(type='number', placeholder= 'total amount threshold', name='amount_limit', required=false, value= regionalauthority.amount_limit)
    div.form-group
      label(for='current_amount') Current Period Amount Amassed
      input#current_amount.form-control(type='number',placeholder='amount amassed this period', name='current_amount', required=false,value = regionalauthority.current_amount)
    div.form-group
      label(for='transaction_period_type') Transaction Period Type
      input#transaction_period_type.form-control(type='string',placeholder='period till renewal', name='transaction_period_type', required = false value =regionalauthority.transaction_period_type)
    div.form-group
       label(for='current_transaction_period') Current Period Expiry Date
       input#current_transaction_period.form-control(type='date', placeholder='current period expiry date',name='current_transaction_period', required = false, value=stringDate)
    div.form-group
       label(for='attempted') # Attempted
       input#attempted.form-control(type='number', placeholder= '# of attempts', name='attempted', required = true, value=regionalauthority.attempted)

    button.btn.btn-primary(type='submit') #{query===undefined ? "Submit" : query}
  if errors
    ul
      for error in errors
        li!= error.msg

  if error
    ul
      li
        error
