extends layout

block content

  h1 Region: #{regionalauthority.region_name} : #{regionalauthority.region_code}

  P  Country: #{regionalauthority.country}

  p  Allow Status: #{regionalauthority.allowed}

  p  Harmonized:  #{regionalauthority.harmonized}

  p  Federal Rate: #{regionalauthority.fed_rate}

  p  Fed. Rate Active: #{regionalauthority.fed_rate_active}

  p  Regional Rate: #{regionalauthority.reg_rate}

  p  Restriction Code: #{regionalauthority.restriction_code}

  P  Transaction Limit: #{regionalauthority.transaction_limit}

  P  Current Transaction Count: #{regionalauthority.current_count}

  P  Amount Limit: #{regionalauthority.amount_limit}

  P  Current Year Amount: #{regionalauthority.current_year_amount}

  p  Previous Year Amounts: #{pyaProxy.pyaProxy}

  P  Current Quarter Amount: #{regionaltaxauthority.current_quarter_amount}

  P  Last Three Quarters:  #{threeQ.threeQProxy}

  P  Current 4 Quarters Amount: #{regionaltaxauthority.current_four_quarters_amount}

  P  Previous Quarters Amounts: #{pqaProxy.pqaProxy}

  P  Period Type: #{regionalauthority.transaction_period_type}

  P  Period Index: #{regionalauthority.for_period_index}

  P  # of Attempts: #{regionalauthority.attempted}

  hr
  p
    a(href=regionalauthority.url+'/delete') Delete Regional Tax Authority

  p
    a(href=regionalauthority.url+'/update') Update Regional Tax Authority

  p
    a(href='/catalog//countrytaxauthorities') List Country Authorities

  P
    a(href='/catalog/regionalauthorities') List Regional Authorities

  p
    a(href='/catalog/clients') List Clients
