extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='region_name') Region Name
      input#region_name.form-control(type = 'string', placeholder='Region Name', name= 'region_name', required=true, value=regionalauthority.region_name)
      label(for='region_code') Region Abbreviation
      input#region_code.form-control(type='text', placeholder='eg. CA (required)', name='region_code', required=true, value=regionalauthority.region_code)

    div.form-group
      label(for='country') Country
      input#country.form-control(type = 'string', placeholder='Country',name= 'country',required=true, value = regionalauthority.country)

    div.form-group
      label(for='allowed') Allowed
      input#allowed.form-control(type='boolean', placeholder='true/false', name='allowed', required=true, value=allowedProxy)

    div.form-group
      label(for='harmonized') Harmonized?
      input#harmonized.form-control(type='boolean', placeholder='true/false',name='harmonized',required=true, value=harmonizedProxy)
    div.form-group
      label(for='fed_rate') Federal Rate (GST)
      input#fed_rate.form-control(type='decimal',placeholder='0.05 (not 5%) 0.0 for zero', name= 'fed_rate', required=true, value=regionalauthority.fed_rate)
      label(for='fed_rate_active') Fed Rate Active?
      input#fed_rate_active.form-control(type='boolean',placholder='true/false',name= 'fed_rate_active,required=false, value=fed_rate_activeProxy)
      label(for='reg_rate') Regional Rate (PST,QST,..)
      input#reg_rate.form-control(type='decimal', placeholder='0.xx (decimal not %); 0.0 for zero', name='reg_rate', required=true, value=regionalauthority.reg_rate)
    div.form-group
      label(for='restriction_code') Restriction Code (0:none, 1:#, 2:$, 3:both)
      input#restriction_code.form-control(type='number', placeholder='Restriction Code (required)', name='restriction_code', required=true, value=regionalauthority.restriction_code )
    div.form-group
      label(for='transaction_limit') Number of Transactions Limit
      input#transaction_limit.form-control(type='number', placeholder= 'transaction # threshold', name='transaction_limit', required=false, value= regionalauthority.transaction_limit)
    div.form-group
      label(for='current_count') Current # of transactions
      input#current_count.form-control(type='number',placeholder='# transactions processed', name= 'current_count', required=false, value= regionalauthority.current_count)
    div.form-group
      label(for='amount_limit') Dollar Amount Limit
      input#amount_limit.form-control(type='number', placeholder= 'total amount threshold', name='amount_limit', required=false, value= regionalauthority.amount_limit)
    div.form-group
      label(for='current_year_amount') Current Year Amount Amassed
      input#current_year_amount.form-control(type='number',placeholder='amount amassed this period', name='current_year_amount', required=false,value = regionalauthority.current_year_amount)
      label(for='previous_years_amounts') Previous Years amounts
      input#previous_years_amounts.form-control(type='array',placeholder='array of previous years amounts',name='previous_years_amounts', required=true, value = regionalauthority.previous_years_amounts)
      label(for='current_quarter_amount') Current Quarter Amount
      input#current_quarter_amount.form-control(type='number',placeholder='amount this quarter', name='current_quarter_amount', required=true, value= regionalauthority.current_quarter_amount)
    div.form-group
      label(for='last_three_quarters_array') Last Three Quarters (array)
      input#last_three_quarters_array.form-control(type='array', placeholder= 'last 3 qrtrs array', name= 'last_three_quarters_array', required = true, value= regionalauthority.last_three_quarters_array)
      label(for='current_four_quarters_amount') Current 4 Qrtrs Amount
      input#current_four_quarters_amount.form-control(type= 'number',placeholder='current 4 qrtrs amount', name='current_four_quarters_amount', required= true, value = regionalauthority.current_four_quarters_amount )
      label(for='previous_quarters_amounts') Previous Quarters Amounts
      input#target_previous_quarters_amounts.form-control(type='array',placeholder='previous quarters amounts (array)',name='previous_quarters_amounts', required=true, value= regionalauthority.previous_quarters_amounts)

    div.form-group
      label(for='transaction_period_type') Transaction Period Type
      input#transaction_period_type.form-control(type='string',placeholder='period till renewal', name='transaction_period_type', required = false value =regionalauthority.transaction_period_type)
    div.form-group
    label(for='for_period_index') Current Period Index
    input#for_period_index.form-control(type='number', placeholder='current period index', name='for_period_index', required = true, value = regionalauthority.for_period_index)
    div.form-group
       label(for='attempted') # Attempted
       input#attempted.form-control(type='number', placeholder= '# of attempts', name='attempted', required = true, value=regionalauthority.attempted)

    button.btn.btn-primary(type='submit') #{query===undefined ? "Submit" : query}
  if errors
    ul
      for error in errors
        li!= error.msg

  if error
    ul
      li
        error
