html
  body
    form(action="/charge", method="post")
      article
        label Amount: amount
      script(
        src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key=keyPublishable,
        data-locale="auto",
        data-description="Sample Charge",
        data-amount= '500'
