extends layout

block content
  h1(href="#" style={'font-size':'4vw'})= title
  br

  h3(href="#" style={'font-size':'3vw'})= "Using Microsoft PowerShell Utility"

  p= themeDesc1
  br

  .image
  label(for="verify1img") #{source2}
  br
  .verify1img
    <img id="verify1img"  src=#{source} alt="step view" width="500" height="200">
  if error
    p Error getting dynamic content.
  else
   br
   a(href= prevLoc)
       button(type="button") #{prevLbl}
   a(href= nextLoc)
       button(type="button") #{nextLbl}



  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
